<div class="pagetitle">
  <div class="d-flex justify-content-between">
    <div>
      <h1>Meine Bestellungen ({{totalMyOrders}})</h1>
      <app-breadcrumbs>
        <app-breadcrumb-item [link]="'/dashboard'" [title]="'Dashboard'"></app-breadcrumb-item>
      </app-breadcrumbs>
    </div>
    <div></div>
  </div>
</div>
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <table class="table" *ngIf="totalMyOrders > 0">
            <thead>
              <tr>
                <th scope="col" width="20%">Bestell-Nr.</th>
                <th scope="col" width="30%">Bestell-Datum</th>
                <th scope="col" width="20%">Artikel</th>
                <th scope="col" width="20%">Warenwert</th>
                <th scope="col" width="10%">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of myorders">
                <td>{{order.id}}</td>
                <td valign="middle">{{order.created_at}}</td>
                <td valign="middle">{{order.totalproducts}}</td>
                <td valign="middle">{{this.helperService.formatPrice(order.totalprice)}}</td>
                <td valign="middle" class="text-end">
                  <a href="javascript:void(0)"><i class="bi-eye mx-2" style="font-size: 1.25rem; color: cornflowerblue;"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="totalMyOrders === 0">
            <h5 class="card-title">Du hast keine Bestellungen getätigt</h5>
            Besuche unseren Shop und entdecke unsere <a routerLink="/shop"><u>Produkte</u></a>.
          </div>
        </div>
      </div>
  </div>

</div>
</section>

  

  