<nav class="header-nav ms-auto" >
    <ul class="d-flex align-items-center">

      <li class="nav-item dropdown" dropdown>
        <a class="nav-link nav-icon" href="javascript:void(0)" data-bs-toggle="dropdown" dropdownToggle>
          <i class="bi bi-cart2 nav-icon-cart-big" [ngClass]="totalInCart ? 'cart-icon-filled' : 'cart-icon-empty'"></i>
          <span class="badge bg-primary badge-number" *ngIf="totalInCart">{{totalInCart}}</span>
        </a><!-- End Cart Icon -->


        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages cart-dropdown" *dropdownMenu>
          <li class="dropdown-header cart-dropdown-title">
            <i [ngClass]="totalInCart ? 'bi bi-cart4' : 'bi bi-cart4'" class="nav-icon-cart-medium mx-2"></i>
             Warenkorb-Übersicht</li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="message-item">
            <a href="javascript:void(0)">
              <img src="./assets/img/messages-1.jpg" alt="" class="rounded-circle">
              <div>
                <h4>Maria Hudson</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>4 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="message-item">
            <a href="javascript:void(0)">
              <img src="./assets/img/messages-2.jpg" alt="" class="rounded-circle">
              <div>
                <h4>Anna Nelson</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>6 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="message-item">
            <a href="javascript:void(0)">
              <img src="./assets/img/messages-3.jpg" alt="" class="rounded-circle">
              <div>
                <h4>David Muldon</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>8 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="dropdown-footer">
            <a href="javascript:void(0)">Show all messages</a>
          </li>
        </ul>
      </li>
    </ul>
</nav>