<div class="pagetitle">
    <h1>Produkt bearbeiten</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item" ><a href="javascript:void(0)" routerLink="/products">Alle Produkte</a></li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
      <div class="card">
      <div class="flex-d card-body">
        <h5 class="card-title">{{producttitle}}</h5>

        <div class="container">
          <div class="row">
            <form class="row" [formGroup]="form" (submit)="submit()">

              <div class="col-lg-6 col-12">
                <div class="col-12 mb-3">
                  <label for="city" class="form-label">Kategorie *</label>
                  <select name="category_id" formControlName="category_id" id="category_id" class="form-control" >
                      <option *ngFor="let category of categories" [ngValue]="category.id" selected="{{category.id}}">{{ category.name }}</option>
                  </select>
                  <div *ngIf="f1E" class="input-error">{{f1E}}</div>
                </div>
                <div class="col-12 mb-3">
                  <label for="title" class="form-label">Titel *</label>
                  <input formControlName="title" type="text" class="form-control" id="title">
                  <div *ngIf="f2E" class="input-error">{{f2E}}</div>
                </div>
                <div class="col-12 mb-3">
                  <label for="description" class="form-label">Beschreibung *</label>
                  <textarea formControlName="description" class="form-control" id="description" rows="4"></textarea>
                  <div *ngIf="f3E" class="input-error">{{f3E}}</div>
                </div>
                <div class="col-12 mb-3">
                  <label for="price" class="form-label">Preis *</label>
                  <input formControlName="price" type="nummber" class="form-control" id="price">
                  <div *ngIf="f4E" class="input-error">{{f4E}}</div>
                </div>
                <div class="col-12 mb-3">
                  <label for="instock" class="form-label">Lagerbestand *</label>
                  <input formControlName="instock" type="text" class="form-control" id="instock">
                  <div *ngIf="f6E" class="input-error">{{f6E}}</div>
                </div>
              </div>
              
              <div class="col-lg-6 col-12 rounded">
                <div class="col-12 mb-4">
                  <div>Produkt-Id: {{productid}}</div>
                  <div>Aufgenommen: {{productcreated}}</div>
                  <div>Aktualisiert: {{productupdated}}</div>
                </div>
                <div class="col-12 mb-4">
                  <label for="image" class="form-label">Produktfoto</label>
                  <img class="p-4 col-12 object-fit-contain border rounded" height="45%" width="100%" [src]="productimage ? productimage : '../../../../assets/img/sample-product.png'">
                </div>
                <div class="col-12">
                  <div class="input-group">
                    <input formControlName="image" class="form-control" name="image">
                    <app-upload (uploaded)="form.patchValue({'image': $event})"></app-upload>
                  </div>
                  <div class="mt-4 d-flex justify-content-between">
                    <div><button type="submit" class="btn btn-primary">Speichern</button></div>
                    <div><button onclick="history.back()" type="button" class="btn btn-light">Abbrechen</button></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
  
  