<div class="pagetitle">
<h1>Passwort</h1>
<app-breadcrumbs>
  <app-breadcrumb-item [link]="'/dashboard'" [title]="'Dashboard'"></app-breadcrumb-item>
</app-breadcrumbs>
</div>
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Passwort ändern</h5>
          <form class="row g-3" [formGroup]="form" (submit)="submit()" novalidate>
            <div class="col-12">
              <label for="password" class="form-label">Passwort *</label>
              <input formControlName="password" type="password" class="form-control" id="password" required>
              <div *ngIf="p1E" class="input-error">{{p1E}}</div>
              <div class="mt-3">
                <small class="label-small">
                  <p class="mb-2 fw-bold">Passwordkriterien:</p>
                  <ul class="credential-list">
                    <li>mind. {{minPasswordLenght}} Zeichen</li>
                    <li>mind. 1 Gross- sowie Kleinbuchstabe</li>
                    <li>mind. 1 Zahl</li>
                    <li>mind. 1 Sonderzeichen</li>
                  </ul>
              </small>
            </div>
            </div>
            <div class="mt-4 d-flex justify-content-between">
              <div><button type="submit" class="btn btn-primary">Speichern</button></div>
              <div><button onclick="history.back()" type="button" class="btn btn-light">Abbrechen</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>