<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Profile</h1>
  </div>

  <div class="">
    <div class="form-signin p-0">
        <form [formGroup]="passwordForm" (submit)="passwordSubmit()">
            <h2 class="h4 mb-3 fw-normal">Password</h2>

            <div class="form-floating">
              <input formControlName="password" name="password" type="password" class="form-control first" id="password" placeholder="Password">
              <label for="password">Password</label>
            </div>
      
            <div class="form-floating">
              <input formControlName="password_confirm" name="password_confirm" type="password" class="form-control last" id="password_confirm" placeholder="Password confirm">
              <label for="password_confirm">Password confirm</label>
            </div>
        
            <div class="form-check text-start my-1"> </div>
      
            <button class="btn btn-primary w-100 py-2" type="submit">Update</button>

          </form>
    </div>

  </div>