  <div class="pagetitle">
    <h1>Passwort</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink="/dashboard"><a href="/">Administrator</a></li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
      <div class="card">
      <div class="card-body">
        <h5 class="card-title">Passwort ändern</h5>
        <form class="row g-3" [formGroup]="passwordForm" (submit)="passwordSubmit()">
          <div class="col-12">
            <label for="password" class="form-label">Passwort</label>
            <input formControlName="password" type="password" class="form-control" id="password">
          </div>
          <div class="col-12 mb-3">
            <label for="password_confirm" class="form-label">Paswort bestätigen</label>
            <input formControlName="password_confirm" type="password" class="form-control" id="password_confirm">
          </div>
          <div class="mt-4 d-flex justify-content-between">
            <div><button type="submit" class="btn btn-primary">Speichern</button></div>
            <div><button onclick="history.back()" type="button" class="btn btn-light">Abbrechen</button></div>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
  </section>