<div class="pb-2">
  <h5 class="card-title text-center pb-0 fs-4">Anmelden</h5>
  <p class="text-center">E-Mail Adresse und Passwort eingeben.</p>
</div>

<form class="row g-3 needs-validation" [formGroup]="form" (submit)="submit()">

  <div class="col-12">
    <label for="email" class="form-label">E-Mail Adresse*</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="useremail">&#64;</span>
      <input formControlName="email" type="email" name="email" class="form-control" id="useremail" required>
      <div class="invalid-feedback">Bitte deine E-mail Adresse eingeben!</div>
    </div>
  </div>

  <div class="col-12">
    <label for="password" class="form-label">Passwort*</label>
    <input formControlName="password" type="password" name="password" class="form-control" id="password" required>
    <div class="invalid-feedback">Bitte dein passwort eingeben!</div>
  </div>

  <div class="col-12 mt-4">
    <button class="btn btn-primary w-100" type="submit">Anmelden</button>
  </div>
  <div class="col-12 text-center">
    <p class="mb-0">Noch kein Konto? <a href="/register">Jetzt erstellen</a></p>
  </div>
</form>

