<div class="pb-2">
  <h5 class="card-title text-center pb-0 fs-4">Anmeldung</h5>
  <p class="text-center">Bitte gib deine Benutzerdaten ein, um dich anzumelden.</p>
</div>

<div class="alert alert-danger d-flex align-items-center" *ngIf="issue" role="alert">
  <div><i class="bi bi-exclamation-triangle-fill icon-symbol-smaller icon-red"></i></div>
  <div class="mx-2 text-danger"><small>{{loginErrorMessage}}</small></div>
</div>

<form class="row g-3 needs-validation" [formGroup]="form" (submit)="submit()">
  <div class="col-12">
    <label for="emaillogin" class="form-label">E-Mail-Adresse *</label>
    <input formControlName="email" type="email" class="form-control" id="emaillogin">
    <div *ngIf="f1E" class="input-error">{{f1E}}</div>
  </div>

  <div class="col-12">
    <label for="password" class="form-label">Passwort *</label>
    <input formControlName="password" type="password" class="form-control" id="password">
    <div *ngIf="f2P" class="input-error">{{f2P}}</div>
  </div>

  <div class="col-12">
    <p class="mb-0">Du hast dein <a href="javascript:void(0)" routerLink="/password-forgot">Passwort vergessen?</a></p>
  </div>

  <div class="col-12 mt-4">
    <button class="btn btn-primary w-100" type="submit">Anmelden</button>
  </div>
  
  <div class="col-12 text-center">
    <p class="mb-0">Du hast noch kein {{applicationName}}-Konto?<br>
      <a class="link-underline" href="javascript:void(0)" routerLink="/register">Jetzt erstellen</a></p>
  </div>
</form>