/* --------------- HEADER NAV-CART MESSAGES --------------- */
.header-nav .cart {
inset: 45px 7px auto auto !important;
}

.header-nav .cart .cart-item {
padding: 0 !important;
transition: 0.3s;
}

.padding-10-15 {
padding: 15px 10px;
}

.header-nav .cart .cart-item .item-block {
display: flex;
cursor: pointer;
}

.dropdown-item-trash {
color: #c5c1c1;
font-size: 12px;
position: absolute;
right: 10px;
top: 0px;
}

.dropdown-item-trash:hover {
color: #fa1735 !important;
}

.quantity-icon {
font-size: 12px !important;
color: #c5c1c1;
}

.header-nav .cart .cart-item img {
margin: 0 15px;
max-height: 40px;
}

.header-nav .cart .cart-item h4 {
font-size: 16px;
font-weight: 600;
margin-bottom: 5px;
color: #444444;
}

.header-nav .cart .cart-item p {
font-size: 13px;
margin-bottom: 3px;
color: #919191;
}

.header-nav .cart .cart-item:hover { 
background-color: #f6f9ff;
}

.cart .cart-item .item-title {
    display: block !important;
    width: 225px !important;
}

.cart .cart-item .item-price {
    font-size: 13px;
    color: #919191;
}

.cart .cart-item .item-quantity {
    font-size: 13px;
    color: #919191;
}

/* --------------- HEADER NAV-CART MESSAGES END ------------ */

/* --------------- HEADER NAV CART --------------- */
.cart-dropdown {
width: 325px !important;
}

.cart-dropdown .cart-dropdown-title {
font-size: 18px !important;
font-family: Nunito, sans-serif;
color:#260a72;
font-weight: 600;
}

.cart-dropdown .cart-dropdown-title.empty-cart {
    padding-bottom: 10px !important;
}

.cart-dropdown .cart-dropdown-title.filled-cart {
    padding-bottom: 18px !important;
}

.cart-icon-empty {
color: #c0bdbd !important;
}

.cart-icon-filled {
color: #260a72 !important;
}

.cart-icon-big {
font-size: 28px !important;
}

.cart-icon-medium {
font-size: 22px !important;
}

.badge-number {
background-color: #7043eb !important;
}


/* --------------- HEADER NAV CART END ----------- */