<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a routerLink="/dashboard" class="logo d-flex align-items-center">
      <img src="./assets/img/logo.png" alt="" />
      <span class="d-none d-lg-block">{{appInfo.appName}}</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn" (click)="triggerFunction()"></i>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown">
        <app-dropdown 
          id="cart" 
          title="" 
          icon="bi bi-cart2 cart-icon-big" 
          badgeClass="bg-primary badge-number" 
          [badgeContent]="cartService.currentTotalInCart | async" 
          dropdownClass="cart cart-dropdown"
          >

          <li class="dropdown-header cart-dropdown-title">Dein Warenkorb 
            <span *ngIf="!(cartService.currentTotalInCart | async)">ist leer</span>
            <span *ngIf="(cartService.currentTotalInCart | async)">(CHF {{getTotalPrice()}})</span>
          </li>
          <div *ngIf="(cartService.currentTotalInCart | async)">

            <hr class="dropdown-divider-no-padding">

            <li class="cart-item" *ngFor="let item of cartService.cartItems | slice:0:5">  
              <div class="padding-10-15">

                <div class="item-block position-relative">
                  <i class="bi bi-x-lg dropdown-item-trash" (click)="deleteCartItem(item.productId)"></i>
                  <img [src]="item.productImage" alt="" class="rounded" routerLink="/product-detail/{{item.productId}}/{{item.productSlug}}" (click)="closeDropdown()">
                  <div>
                    <div role="button" class="item-title" routerLink="/product-detail/{{item.productId}}/{{item.productSlug}}" (click)="closeDropdown()"><h4>{{item.productName}}</h4></div>
                    <div class="d-flex justify-content-between">
                      <div class="item-price">CHF {{item.productPrice}}</div>
                      <div class="item-quantity">
                        <span class="quantity-icon" (click)="increaseQuantity(item.productId)"><i class="bi bi-plus-circle"></i></span>
                         {{item.quantity}}
                         <span class="quantity-icon" (click)="decreaseQuantity(item.productId)"><i class="bi bi-dash-circle"></i></span>
                        </div>
                        <div class="item-price">CHF {{sumPriceEachProduct(item.productId, item.productPrice)}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="dropdown-divider-no-padding">
            </li>

            <li *ngIf="totalInCart < 6" class="dropdown-footer">
              <a href="javascript:void(0)">Total Preis: CHF {{getTotalPrice()}}</a><br>
              <a href="javascript:void(0)" (click)="clearCart()">Warenkorb leeren?</a>
            </li>

            <li *ngIf="totalInCart > 5" class="dropdown-footer">
              <a href="javascript:void(0)">Alle Produkte im Warenkorb anzeigen</a><br>
              <a href="javascript:void(0)" (click)="clearCart()">Warenkorb leeren? </a>
            </li>

          </div>
        </app-dropdown>
      </li>

      <li class="nav-item dropdown">
        <app-dropdown 
          id="avatar" 
          title="" 
          icon="" 
          badgeClass="" 
          badgeContent="" 
          dropdownClass="avatar profile" 
          image="{{ user?.avatar }}"
          >
          <li class="dropdown-header">
            <h6>{{user?.first_name + ' ' + user?.last_name}}</h6>
            <span>{{userrole}}</span>
          </li>
          <li><hr class="dropdown-divider"></li>

          <li>
            <a class="dropdown-item d-flex align-items-center" routerLink="/profile" (click)="closeDropdown()">
              <i class="bi bi-person"></i>
              <span>Mein Profil</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" routerLink="/password" (click)="closeDropdown()">
              <i class="bi bi-key"></i>
              <span>Mein Passwort</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)" (click)="logout()">
              <i class="bi bi-box-arrow-right"></i>
              <span>Abmelden</span>
            </a>
          </li>
        </app-dropdown>
      </li>

    </ul>
  </nav>
</header>