<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a routerLink="/dashboard" class="logo d-flex align-items-center">
      <img src="./assets/img/logo.png" alt="" />
      <span class="d-none d-lg-block">{{appInfo.appName}}</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn" (click)="triggerFunction()"></i>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown">
        <app-dropdown 
          id="cart" 
          title="" 
          icon="bi bi-cart2 cart-icon-big" 
          badgeClass="bg-primary badge-number" 
          [badgeContent]="cartService.currentTotalInCart | async" 
          dropdownClass="dropdown-menu-cart-arrow cart cart-dropdown"
          >

          <li class="dropdown-header cart-dropdown-title">
            <div class="d-flex justify-content-between align-items-center">

            <div>
              <span *ngIf="!(cartService.currentTotalInCart | async)">
                <i class="bi bi-cart2 cart-icon-dropdown-title cart-icon-empty"></i>
                <span class="cart-dropdown-title-lineheighter cart-icon-empty">Dein Warenkorb ist leer</span>
              </span>
              <span *ngIf="(cartService.currentTotalInCart | async)" class="mx-1">
                <i class="bi bi-cart2 cart-icon-dropdown-title"></i>
                <span class="cart-dropdown-title-lineheighter">Warenkorb-Übersicht</span>
              </span>
            </div>

            <div>
              <i role="button" class="bi bi-x-lg dropdown-close" (click)="closeDropdown()"></i>
            </div>

            

            </div>
            <div class="empty-cart-span-spacer" *ngIf="(cartService.currentTotalInCart | async)"></div>
            
          </li>
          <div *ngIf="(cartService.currentTotalInCart | async)">

            <hr class="dropdown-divider-no-padding">

            <li class="cart-item" *ngFor="let item of cartService.cartItems | slice:0:5">  
              <div class="padding-10-15">

                <div class="item-block position-relative">
                  <i class="bi bi-x-lg dropdown-item-trash" (click)="deleteCartItem(item.productId)"></i>
                  <div class="text-center">
                    <img [src]="item.productImage" [alt]="item.productImage" [title]="'Einzelpreis: '+formatPrice(item.productPrice) " class="rounded unselectable" routerLink="/product-detail/{{item.productId}}/{{item.productSlug}}" (click)="closeDropdown()">
                  </div>
                  
                  <div>
                    <div role="button" class="item-title unselectable" routerLink="/product-detail/{{item.productId}}/{{item.productSlug}}" (click)="closeDropdown()"><h4>{{item.productName}}</h4></div>
                    <div class="d-flex justify-content-between">
                        
                      

                      <div class="item-quantity">
                        <span class="quantity-icon" (click)="increaseQuantity(item.productId)"><i class="bi bi-plus-circle"></i></span>
                        <span class="mx-2 unselectable">{{item.quantity}}</span>
                        <span class="quantity-icon" (click)="decreaseQuantity(item.productId)"><i class="bi bi-dash-circle"></i></span>
                      </div>

                      <div class="d-flex item-price align-items-center unselectable">{{sumPriceEachProduct(item.productId, item.productPrice)}}</div>

                    </div>
                  </div>
                </div>
              </div>
              <hr class="dropdown-divider-no-padding">
            </li>

            <li class="cart-item">
              <div class="padding-5-15 delivery-text">
                <div class="row">
                    <div class="d-flex align-items-center">
                      <div class="cart-dropdown-delivery-label">Versand</div>
                      <div class="cart-dropdown-delivery-condition text-end"> kostenlos</div>
                  </div>
                </div>
              </div>
              <hr class="dropdown-divider-no-padding">
            </li>

            <li class="cart-item">
              <div class="padding-5-15 delivery-text">
                <div class="row">
                    <div class="d-flex align-items-center">
                      <div class="cart-dropdown-price-label">Total CHF</div>
                      <div class="cart-dropdown-price-condition text-end">{{getTotalPrice()}}</div>
                  </div>
                </div>
              </div>
              <hr class="dropdown-divider-no-padding">
            </li>

            <li class="dropdown-footer d-grid">
              <button class="btn btn-sm btn-primary my-2" routerLink="/basket" (click)="closeDropdown()">
                <span *ngIf="totalInCart > 5">+{{moreItemsInCart()}} weitere Produkte im Warenkorb</span>
                <span *ngIf="totalInCart < 6">Zum Warenkorb</span>
              </button>
              <a href="javascript:void(0)" class="clear-cart-link" (click)="clearCart()" (click)="closeDropdown()">
                <span ><i class="bi bi-trash3 cart-dropdown-clear-trash-icon mx-1"></i>Warenkorb leeren?</span>
              </a>
            </li>

          </div>
        </app-dropdown>
      </li>

      <li class="nav-item dropdown">
        <app-dropdown 
          id="avatar" 
          title="" 
          icon="" 
          badgeClass="" 
          badgeContent="" 
          dropdownClass="dropdown-menu-arrow avatar profile" 
          image="{{ user?.avatar }}"
          >
          <li class="dropdown-header">
            <h6>{{user?.first_name + ' ' + user?.last_name}}</h6>
            <span>{{userrole}} (Id: {{user?.id}})</span>
          </li>
          <li><hr class="dropdown-divider"></li>

          <li>
            <a class="dropdown-item d-flex align-items-center" routerLink="/profile" (click)="closeDropdown()">
              <i class="bi bi-person"></i>
              <span>Mein Profil</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" routerLink="/password" (click)="closeDropdown()">
              <i class="bi bi-key"></i>
              <span>Mein Passwort</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)" (click)="logout()">
              <i class="bi bi-box-arrow-right"></i>
              <span>Abmelden</span>
            </a>
          </li>
        </app-dropdown>
      </li>

    </ul>
  </nav>
</header>