<div>
  <div class="pb-2">
    <h5 class="card-title text-center pb-0 fs-4">{{formTitle}}</h5>
    <p class="text-center">{{formMessage}}</p>
    <p class="text-center" *ngIf="formLoading"><span class="loader"></span></p>
  </div>
  <form class="row g-3" [formGroup]="form" *ngIf="formVisible == '1'" (submit)="submit()">
    <div class="col-12">
      <label for="password" class="form-label">Passwort * <small class="label-small">(mind. 6 Zeichen)</small></label>
      <input formControlName="password" type="password" name="password" class="form-control" id="password" required>
      <div class="input-error">Error</div>
    </div>

    <div class="col-12">
      <label for="passwordConfirm" class="form-label">Passwort bestätigen *</label>
      <input formControlName="passwordConfirm" type="password" name="passwordConfirm" class="form-control" id="passwordConfirm" required>
      <div class="invalid-feedback">Bitte dein passwort eingeben!</div>
    </div>

    <div class="col-12 mt-4">
      <button class="btn btn-primary w-100" type="submit">Passwort speichern</button>
    </div>
  </form>
  <div class="col-12 text-center">
    <p class="mb-0">Zurück zum <a class="link-underline" href="javascript:void(0)" routerLink="/login">Login</a></p>
  </div>
</div>