<div>
  <div class="pb-2">
    <h5 class="card-title text-center mb-1 fs-4">{{formTitle}}</h5>
    <p class="h5 text-center" *ngIf="usergreeting"><span class="fw-bold">{{usergreeting}}</span></p>
    <p class="text-center">{{formMessage}}</p>
    <p class="text-center" *ngIf="formLoading"><span class="loader"></span></p>
  </div>
  <form class="row g-3" [formGroup]="form" *ngIf="formVisible" (submit)="submit()">
    <div class="col-12">
      <label for="password" class="form-label">Passwort * <small class="label-small">(mind. {{minPasswordLenght}} Zeichen)</small></label>
      <input formControlName="password" type="password" class="form-control" id="password">
      <input formControlName="token" type="hidden">
      <div *ngIf="p1E" class="input-error">{{p1E}}</div>
      <div class="mt-2">
        <small class="label-small">
          <p class="mb-1 fw-bold">Passwordkriterien:</p>
        - mind. {{minPasswordLenght}} Zeichen<br>
        - mind. 1 Gross- sowie Kleinbuchstabe<br>
        - mind. 1 Zahl<br>
        - mind. 1 Sonderzeichen
      </small></div>
    </div>

    <div class="col-12 mt-4">
      <button class="btn btn-primary w-100" type="submit">Passwort speichern</button>
    </div>
  </form>
  <div class="col-12 text-center">
    <p class="mb-0"><a class="link-underline" href="javascript:void(0)" routerLink="/login">Zurück zum Login</a></p>
  </div>
</div>