  <div class="pb-2">
    <h5 class="card-title text-center pb-0 fs-4">Registrierung</h5>
    <p class="text-center">Bitte Formular ausfüllen und absenden.</p>
  </div>

  <form class="row g-3 needs-validation" (submit)="submit()">
    <div class="col-lg-6 col-12 col-sm-6">
      <label for="first_name" class="form-label">Vorname*</label>
      <input [(ngModel)]="first_name" type="text" name="first_name" class="form-control" id="first_name" required>
      <div class="invalid-feedback">Bitte deinen Vorname eingeben!</div>
    </div>

    <div class="col-lg-6 col-12 col-sm-6">
      <label for="last_name" class="form-label">Nachname*</label>
      <input [(ngModel)]="last_name" type="text" name="last_name" class="form-control" id="last_name" required>
      <div class="invalid-feedback">Bitte deinen Nachnamen eingeben!</div>
    </div>

    <div class="col-12">
      <label for="email" class="form-label">E-Mail Adresse*</label>
      <input [(ngModel)]="email" type="email" name="email" class="form-control" id="email" required>
      <div class="invalid-feedback">Bitte E-Mail Adresse eingeben!</div>
    </div>

    <div class="col-lg-6 col-12 col-sm-6">
      <label for="password" class="form-label">Passwort*</label>
      <input [(ngModel)]="password" type="password" name="password" class="form-control" id="password" required>
      <div class="invalid-feedback">Bitte Passwort eingeben!</div>
    </div>

    <div class="col-lg-6 col-12 col-sm-6">
      <label for="password_confirm" class="form-label">Passwort bestätigen*</label>
      <input [(ngModel)]="password_confirm" type="password" name="password_confirm" class="form-control" id="password_confirm" required>
      <div class="invalid-feedback">Bitte Passwort bestätigen!</div>
    </div>

    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
        <label class="form-check-label" for="acceptTerms">Ich akzeptiere die <a href="#">AGBs</a>*</label>
        <div class="invalid-feedback">Du musst die AGBs akzeptieren.</div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary w-100" type="submit">Daten absenden</button>
    </div>
    <div class="col-12 text-center">
      <p class="mb-0">Konto bereits vorhanden? <a href="/login">Hier anmelden</a></p>
    </div>
  </form>
