.basket {
    font-family: Nunito, sans-serif !important;
}
ul.basket {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.basket li {
    margin: 0;
    padding: 0;
}
.basket-item-image {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    object-fit: contain !important;
}
.basket-item-title {
    font-size: 18px;
    font-weight: 600;
    line-height: normal !important;
    margin-bottom: 5px;
    color: #444;
}
.basket-trash-top {
    font-size: 20px;
    color: #877a96;
    position: absolute;
    right: 0 !important;
    top: 20px !important;
}
.basket-item-shortinfo {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #5a5a6b;
    display: inline-block !important;
}
.basket-item-price {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #19185a;
}
.basket-item-delete {
    color: #877a96;
    font-size: 16px;
}

.basket-item-delete:hover {
    color: #fc0d0d;
}
.dropdown-divider-basket {
    color: #a5c5fe;
    margin: 0;
    padding: 10px 0 0 0;
}
.basket-trash-top {
    display: none !important;
}

.basket-item-quantyfier-top {
    display: none !important;
}

.basket-item-quantyfier-down {
    display: inline-block !important;
}
.basket-label-box {
    padding: 5px 0 15px 10px;
    border-radius: 5px;

}
.padding-row {
    padding-top: 5px;
    padding-bottom: 10px;
}
.basket-value-box {
    padding: 5px 10px 15px 0;
    border-radius: 5px;
}
.basket-title-padding {
    padding-top: 20px !important;
}
.basket-price-padding {
    padding-top: 20px !important;
}

@media (max-width: 768px) {
    .basket-price-padding {
        padding-top: 0px !important;
    }
    .basket-title-padding {
        padding-top: 10px !important;
    }
    .zurkasse {
        display: none !important;
    }
    .basket-item .row{
        padding: 0 0 2px 0;
    }    
    .basket-trash-top {
        display: inline-block !important;
    }
    .basket-trash-down {
        display: none !important;
    }
    .basket-item-quantyfier-top {
        display: inline-block !important;
    }
    .basket-item-quantyfier-down {
        display: none !important;
    }

    .basket-item-image {
        width: 75px;
        height: 75px;
        float: left;
        margin-right: 5px;
        object-fit: contain !important;
    }
    .basket-item-title {
        font-size: 17px !important;
        line-height: normal !important;
        font-weight: 600;
        margin-bottom: 1px;
        color: #444;
    }
    .basket-item-shortinfo {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        color: #9393aa;
        display: inline-block !important;
    }
    .basket-item-price {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #19185a;
    }
}
