<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLinkActive]="['activus']" routerLink="/dashboard" (click)="sidebarToggleService.closeSidebar()">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <div class="admin-block" *appOnlyAdmin="userrole">
      <div class="admin-block-head d-flex align-items-center"><i class="bi bi-gear-fill"></i>Adminbereich</div>
    
    <div class="admin-navigation">
      <li class="nav-item">
        <a class="nav-link collapsed" [routerLinkActive]="['activus']" routerLink="/categories" (click)="sidebarToggleService.closeSidebar()">
          <i class="bi bi-list-ul"></i>
          <span>Kategorieverwaltung</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" [routerLinkActive]="['activus']" routerLink="/users" (click)="sidebarToggleService.closeSidebar()">
          <i class="bi bi-people"></i>
          <span>Benutzerverwaltung</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" [routerLinkActive]="['activus']" routerLink="/roles" (click)="sidebarToggleService.closeSidebar()">
          <i class="bi bi-person-gear"></i>
          <span>Rollenverwaltung</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" [routerLinkActive]="['activus']" routerLink="/products" (click)="sidebarToggleService.closeSidebar()">
          <i class="bi bi-upc-scan"></i>
          <span>Produkteverwaltung</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" [routerLinkActive]="['activus']" routerLink="/orders" (click)="sidebarToggleService.closeSidebar()">
          <i class="bi bi-bag-check"></i>
          <span>Alle Bestellungen</span>
        </a>
      </li>
    </div>
  </div>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLinkActive]="['activus']" routerLink="/shop" (click)="sidebarToggleService.closeSidebar()">
        <i class="bi bi-shop-window"></i>
        <span>MiniCart-Shop</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLinkActive]="['activus']" routerLink="/myorders" (click)="sidebarToggleService.closeSidebar()">
        <i class="bi bi-list-ul"></i>
        <span>Meine Bestellungen</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLinkActive]="['activus']" routerLink="/password" (click)="sidebarToggleService.closeSidebar()">
        <i class="bi bi-key"></i>
        <span>Mein Passwort</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLinkActive]="['activus']" routerLink="/profile" (click)="sidebarToggleService.closeSidebar()">
        <i class="bi bi-person"></i>
        <span>Mein Profil</span>
      </a>
    </li>

    <li class="nav-item">
      <a role="button" class="nav-link collapsed" [routerLinkActive]="['activus']" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i>
        <span>Abmelden</span>
      </a>
    </li>

    <li *appOnlyAdmin="userrole" class="mt-4" (click)="sidebarToggleService.closeSidebar()">
      <div class="card">
        <div class="card-body">
          <small><span class="fw-bold">Admin-Systeminfo:</span></small><br>
          <small class="">{{localStorageInfo()}}</small><br>
          <small class="">App: {{appInfo.appName}}</small><br>
          <small class="">Version: {{appInfo.version}}</small>
        </div>
    </div>
    </li>

  </ul>
</aside>