<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Profile</h1>
  </div>

  <div class="">
    <div class="form-signin p-0">
        <form [formGroup]="profileForm" (submit)="profileSubmit()">
            <h2 class="h4 mb-3 fw-normal">Userdata</h2>
        
            <div class="form-floating">
              <input formControlName="first_name" name="first_name" type="text" class="form-control first" id="firstName" placeholder="First name">
              <label for="firstName">First name</label>
            </div>
      
            <div class="form-floating">
              <input formControlName="last_name" name="last_name" type="text" class="form-control middle" id="lastName" placeholder="Last name">
              <label for="lastName">Last name</label>
            </div>
      
            <div class="form-floating">
              <input formControlName="email" name="email" type="email" class="form-control last" id="email" placeholder="name@example.com">
              <label for="email">Email address</label>
            </div>

            <div class="form-check text-start my-1"> </div>
      
            <button class="btn btn-primary w-100 py-2" type="submit">Update</button>

          </form>
    </div>

  </div>