<div class="pagetitle">
  <h1>Benutzerprofil</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/dashboard"><a href="/">Benutzerdaten</a></li>
    </ol>
  </nav>
</div>
<section class="section">
  <div class="row">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title">Daten ändern</h5>
      <form class="row g-3" [formGroup]="profileForm" (submit)="profileSubmit()">
        <div class="col-12">
          <label for="first_name" class="form-label">Vorname</label>
          <input formControlName="first_name" type="text" class="form-control" id="first_name">
        </div>
        <div class="col-12">
          <label for="last_name" class="form-label">Nachname</label>
          <input formControlName="last_name" type="text" class="form-control" id="last_name">
        </div>
        <div class="col-12 mb-3">
          <label for="email" class="form-label">E-Mail Adresse</label>
          <input formControlName="email" type="email" class="form-control" id="email">
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Speichern</button>
        </div>
      </form>
    </div>
    </div>
</div>
</section>

