<div class="pagetitle">
  <h1>Mein Profil</h1>
  <app-breadcrumbs>
    <app-breadcrumb-item [link]="'/dashboard'" [title]="'Dashboard'"></app-breadcrumb-item>
  </app-breadcrumbs>
</div>
<section class="section">
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Benutzerdaten (Id: {{ userid }})</h5>

        <div class="alert alert-danger d-flex align-items-center" *ngIf="errorBlock">
          <div><i class="bi bi-exclamation-triangle-fill icon-symbol-smaller icon-red"></i></div>
          <div class="mx-2 text-danger"><small>Bei den Eingaben sind Fehler aufgetaucht!</small></div>
        </div>
        
        <form class="row g-3" [formGroup]="form" (submit)="submit()">
          <div class="col-12 col-sm-6">
            <label for="first_name" class="form-label">Vorname *</label>
            <input formControlName="first_name" type="text" class="form-control" id="first_name" autocomplete="off">
            <div *ngIf="f1E" class="input-error">{{f1E}}</div>
          </div>
          <div class="col-12 col-sm-6">
            <label for="last_name" class="form-label">Nachname *</label>
            <input formControlName="last_name" type="text" class="form-control" id="last_name" autocomplete="off">
            <div *ngIf="f2E" class="input-error">{{f2E}}</div>
          </div>
          <div class="col-12">
            <div for="emailuser" class="label-fake">E-Mail Adresse * <small class="label-small">(nicht editierbar)</small></div>
            <div class="form-control">{{useremail}}</div>
          </div>
          <div class="col-12">
            <label for="phone" class="form-label">Telefon</label>
            <input formControlName="phone" type="text" class="form-control" id="phone" autocomplete="off">
            <div *ngIf="f5E" class="input-error">{{f5E}}</div>
          </div>
          <div class="col-12">
            <label for="address" class="form-label">Strasse & Nr. *</label>
            <input formControlName="address" type="text" class="form-control" id="address" autocomplete="off">
            <div *ngIf="f6E" class="input-error">{{f6E}}</div>
          </div>
          <div class="col-12 col-sm-3">
            <label for="country" class="form-label">Land *</label>
            <select name="country" formControlName="country" id="country" class="form-control" autocomplete="off">
              <option value="CH">Schweiz</option>
              <option value="D">Deutschland</option>
              <option value="A">Österreich</option>
            </select>
          </div>
          <div class="col-12 col-sm-3">
            <label for="zipcode" class="form-label">PLZ *</label>
            <input formControlName="zipcode" type="text" class="form-control" id="zipcode" autocomplete="off">
            <div *ngIf="f8E" class="input-error">{{f8E}}</div>
          </div>
          <div class="col-12 col-sm-6">
            <label for="city" class="form-label">Ort *</label>
            <input formControlName="city" type="text" class="form-control" id="city" autocomplete="off">
            <div *ngIf="f9E" class="input-error">{{f9E}}</div>
          </div>

          <div class="col-12 mt-4 d-flex align-items-center" *ngIf="emailchecked">
            <div><i class="bi {{ emailcheckedIcon }}"></i></div>
            <div class="mx-2">{{ emailchecked }}</div>
        </div>
        <div class="col-12 mb-4">
          <small class="label-small">Felder mit Stern ( * ) sind Pflichtfelder</small>
        </div>
          <div class="mt-4 d-flex justify-content-between">
            <div><button type="submit" class="btn btn-primary">Speichern</button></div>
            <div><button onclick="history.back()" type="button" class="btn btn-light">Abbrechen</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</section>