  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink="/dashboard"><a href="/">Dashboard</a></li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">CAS Frontend Engineering 2023</h5>
            <p>Dies ist ein minimales Setup von der Projektarbeit 2 (CAS FEE 2023) für eine einfache Administration von Benutzer und Produkte. Quasi eine Vorbereitung des Backends für eine Artikelverwaltung (ohne Warenkorb Funktionialität).</p>
            <p>Student: Almir Hodzic</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </section>