<div class="pagetitle">
    <div class="d-flex justify-content-between">
      <div>
        <h1>Kategorien ({{totalCategories}})</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
          </ol>
        </nav>
      </div>
      <div><button class="btn btn-sm btn-outline-primary" routerLink="/category-create">+ Neue Kategorie</button></div>
    </div>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" width="10%">Id</th>
                  <th scope="col" width="30%">Kategoriename</th>
                  <th scope="col" width="35%">Slug</th>
                  <th scope="col" width="15%">Reihenfolge</th>
                  <th scope="col" width="10%">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categories">
                  <td>{{category.id}}</td>
                  <td>{{category.name}}</td>
                  <td>/{{category.slug}}</td>
                  <td>{{category.order}}</td>
                  <td valign="middle">
                    <a href="javascript:void(0)" [routerLink]="['/category', category.id, 'edit']"><i class="bi-pencil" style="margin-right:1rem; font-size: 1.25rem; color: cornflowerblue;"></i></a>
                  <a href="javascript:void(0)"  (click)="delete(category.id)"><i class="bi-trash" style="font-size: 1.25rem; color: cornflowerblue;"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
  </section>