html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin .first {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .middle {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin .last {
  margin-bottom: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.logo {
  line-height: 1;
}

.logo img {
  max-height: 50px;
  margin-right: 10px;
}

.logo span {
font-size: 26px;
font-weight: 700;
color: #012970;
font-family: "Nunito", sans-serif;
}

.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 25px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

.input-error {
  font-size: 0.8rem;
  color: red;
  margin: 5px 0;
}

.icon-symbol {
  font-size: 30px !important;
}

.icon-green {
  color: #1f840b;
}

.icon-red {
  color: #de0b19;
}

.icon-blue {
  color: #012970;
}

.icon-gray {
  color: #7a7a8b;
}

.card-title-h2 {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

pre {
  font-size: 1rem;
  font-family: Open Sans,sans-serif;
}

.link-underline {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #4154f1;
}

.credits a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}