.shop-product-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.card-body {
    padding: 15px !important;
}
.card-title {
    padding: 0 !important;
  }

.card-title a {
    color: #2a265e !important;
  }

.card-title.custom {
  font-size: 0.9rem;
  font-weight: 600;
}
.card-shortinfo.custom {
  font-size: .75rem;
  font-weight: 400;
  color: rgb(54, 54, 68);
}
.card-text.custom {
  font-size: .8rem;
  font-weight: 400;
}
a.card-category-link {
  font-size: .75rem;
  font-weight: 400;
  color: #5149c7;
}
.card-footer .price {
  font-size: .85rem;
  font-weight: 400;
  color: #2a265e;
}
.stockicon {
  font-size: .85rem;
  position: absolute;
    top: 5px;
    right: 7px;
}

.shop-instock-number {
  font-size: .65rem;
  font-weight: 400;
  color: #8c8aa0;
  position: absolute;
  top: 7px;
  right: 27px;
}

.stockgreen {
  color: rgb(20, 202, 20);
}
.stockgrey {
  color: rgb(219, 211, 210);
}
.stockorange {
  color: rgb(244, 152, 82);
}