<div class="pagetitle">
  <div class="d-flex justify-content-between">
    <div>
      <h1>Shop</h1>
      <app-breadcrumbs>
          <app-breadcrumb-item [link]="'/dashboard'" [title]="'Dashboard'" />
      </app-breadcrumbs>
    </div>
    <div>
      <i class="bi bi-cart2"></i> ({{getTotalinCart()}})
      <ul id="cartItems"></ul>
    </div>
  </div>
</div>
<section class="section">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 d-flex relative" *ngFor="let product of products">
      <div class="card shadow">
          <i class="bi {{inStock(product.instock)}} stockicon" title="Lagerbestand:{{product.instock}}"></i>
          <div>
              <img [src]="product.image ? product.image : './src/assets/img/sample-product.png'" [alt]="product.title" class="p-4 img-thumbnail border-0"> 
          </div>
          <div class="card-body">
          <div class="d-flex justify-content-between">
              <div class="p-0"><a href="#" routerLink="/shop/cat/{{product.categoryslug}}" class="card-category-link">{{product.categoryname}}</a></div>
              <div></div>
          </div>
            <h5 class="card-title custom pt-0">{{product.title}}</h5>
            <p class="card-shortinfo custom">{{product.shortinfo}}</p>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between">
              <div>
                <span class="price">CHF {{product.price}}</span>
              </div>
              <div class="cursor">
                  <i role="button" class="bi bi-cart2" (click)="addToCart(product.id,product.title,product.price,product.instock)"></i>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>