<div class="pagetitle">
    <div class="d-flex justify-content-between">
      <div>
        <h1>Shop</h1>
          <app-breadcrumbs>
            <app-breadcrumb-item [link]="'/dashboard'" [title]="'Dashboard'" />
          </app-breadcrumbs>
         </div>
      <div>Warenkorb</div>
    </div>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 d-flex" *ngFor="let product of products">
        <div class="card shadow">
            <div style="min-height: 275px;">
                <img [src]="product.image ? product.image : '../../../../assets/img/sample-product.png'" [alt]="product.title" class="p-4 img-thumbnail border-0"> 
            </div>
          
            
            <div class="card-body">
              <div class="p-0"><a href="#" routerLink="/shop/cat/{{product.categoryslug}}" class="card-category-link">{{product.categoryname}}</a></div>
              <!-- <div>ID: {{product.categoryslug}}</div> -->
              <h5 class="card-title custom pt-0">{{product.title}}</h5>
              <p class="card-text custom">{{product.description}}</p>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between">
                <div>
                  <span class="price">CHF {{product.price}}</span>
                </div>
                <div>
                    <i class="bi bi-cart2"></i>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  </section>
  
    
  
    