<div *ngIf="!requestMessage">
<div class="pb-2">
  <h5 class="card-title text-center pb-0 fs-4">Passwort vergessen?</h5>
  <p class="text-center">Bitte gib E-Mail-Adresse ein, wenn Du dein Passwort vergessen hast oder dieses zurücksetzen möchtest.</p>
</div>

<form class="row g-3 needs-validation" [formGroup]="form" (submit)="submit()">
  <div class="col-12">
    <label for="useremail" class="form-label">E-Mail-Adresse *</label>
    <input formControlName="email" type="email" class="form-control" id="useremail" required>
    <div class="invalid-feedback">Bitte deine E-mail Adresse eingeben!</div>
  </div>
  <div class="col-12 mt-4">
    <button class="btn btn-primary w-100" type="submit">Passwort zurücksetzen-Link anfordern</button>
  </div>
  <div class="col-12 text-center mb-0 pb-0">
    Vorgang <a class="link-underline" href="javascript:void(0)" routerLink="/login">abbrechen</a>
  </div>
</form>
</div>

<div *ngIf="requestMessage" class="text-center">
  <h5 class="card-title text-center pb-2 fs-4">Passwort vergessen?</h5>
  <p class="pb-2">
    {{requestMessage}}
  </p>
  <p>
    <a class="link-underline" href="javascript:void(0)" (click)="resendLink()">Kein E-Mail erhalten?</a>
    <span class="mx-1">|</span>
    <a class="link-underline" href="javascript:void(0)" routerLink="/login">Weiter zum Login</a>
  </p>
</div>